Repository Onyxmoon/hsfl-master-ai-cloud-engineering, pull requests merged in 2023-10, with the labels that each got.

#16 Feature/web-service
  src/web-service/api/router/router.go
  src/web-service/controller.go
  src/web-service/main.go
  src/web-service/service/controller.go
  src/web-service/service/default_controller.go
Labels: web-service

#23 Feature/product controller
  src/data-management-service/products/controller.go
  src/data-management-service/products/default_controller.go
  src/data-management-service/products/demo_repository.go
  src/data-management-service/products/demo_repository_test.go
  src/data-management-service/products/repository.go
Labels: data-managment-service

#24 Feature/product controller
  src/data-management-service/products/controller.go
  src/data-management-service/products/default_controller.go
  src/data-management-service/products/demo_repository.go
  src/data-management-service/products/demo_repository_test.go
  src/data-management-service/products/repository.go
Labels: data-managment-service

#33 test(data-management-service): add router test
  src/data-management-service/api/router/router.go
  src/data-management-service/api/router/router_test.go
Labels: data-managment-service, test

#57 Shoppinglist service tests
  README.md
  src/shoppinglist-service/api/router/router.go
  src/shoppinglist-service/api/router/router_test.go
  src/shoppinglist-service/userShoppingList/default_controller.go
  src/shoppinglist-service/userShoppingList/default_controller_test.go
  src/shoppinglist-service/userShoppingList/demo_repository_test.go
  src/shoppinglist-service/userShoppingListEntry/default_controller.go
  src/shoppinglist-service/userShoppingListEntry/default_controller_test.go
  src/shoppinglist-service/userShoppingListEntry/demo_repository.go
  src/shoppinglist-service/userShoppingListEntry/demo_repository_test.go
Labels: test, shoppinglist-service
