Repository Onyxmoon/hsfl-master-ai-cloud-engineering, pull requests merged in 2024-01, with the labels that each got.

#143 Feature/grpc
  README.md
  docker-compose.dev.native.yml
  docker-compose.native.yml
  docker-compose.yml
  go.work.sum
  lib/router/middleware/auth.go
  lib/router/router.go
  lib/router/router_test.go
  lib/rpc/product/product.proto
  lib/rpc/shoppinglist/shoppinglist.proto
  lib/rpc/user/user.proto
  src/product-service/Dockerfile
  src/product-service/api/http/router/router.go
  src/product-service/api/http/router/router_test.go
  src/product-service/api/router/router.go
  src/product-service/api/rpc/server.go
  src/product-service/api/rpc/server_test.go
  src/product-service/go.mod
  src/product-service/go.sum
  src/product-service/internal/proto/product/product.pb.go
  src/product-service/internal/proto/product/product_grpc.pb.go
  src/product-service/main.go
  src/product-service/prices/coalescing_controller.go
  src/product-service/prices/coalescing_controller_test.go
  src/product-service/prices/default_controller.go
  src/product-service/prices/default_controller_test.go
  src/product-service/prices/demo_repository_example.go
  src/product-service/prices/utils/controller_test_utils.go
  src/product-service/products/coalescing_controller.go
  src/product-service/products/coalescing_controller_test.go
  src/product-service/products/default_controller.go
  src/product-service/products/default_controller_test.go
  src/product-service/products/demo_repository_example.go
  src/shoppinglist-service/Dockerfile
  src/shoppinglist-service/internal/proto/shoppinglist/shoppinglist.pb.go
  src/shoppinglist-service/internal/proto/shoppinglist/shoppinglist_grpc.pb.go
  src/shoppinglist-service/main.go
  src/user-service/api/http/handler/login.go
  src/user-service/api/http/handler/login_test.go
  src/user-service/api/http/handler/register.go
  src/user-service/api/http/handler/register_test.go
  src/user-service/api/http/router/router.go
  src/user-service/api/http/router/router_test.go
  src/user-service/api/rpc/server.go
  src/user-service/auth/jwt_config.go
  src/user-service/auth/jwt_token_generator.go
  src/user-service/auth/jwt_token_generator_test.go
  src/user-service/auth/token_generator.go
  src/user-service/internal/proto/user/user.pb.go
  src/user-service/internal/proto/user/user_grpc.pb.go
  src/user-service/main.go
  utils/http-stress-test/config.example.json
  utils/http-stress-test/config.yaml
  utils/http-stress-test/config/configurator.go
  utils/http-stress-test/go.mod
  utils/http-stress-test/go.sum
  utils/http-stress-test/main.go
  utils/http-stress-test/metrics/metrics.go
  utils/http-stress-test/tester/metrics/metrics.go
  utils/http-stress-test/tester/tester.go
Labels: enhancement, product-service, shoppinglist-service

#152 Feature/user service cleanup
  README.md
  src/user-service/auth/jwt_config.go
  src/user-service/auth/jwt_config_test.go
  src/user-service/auth/jwt_token_generator_test.go
  src/user-service/main.go
Labels: cleanup

#162 Feature/user config
  go.work
  lib/config/database/config.go
  lib/config/database/rqlite_config.go
  lib/config/go.mod
  src/user-service/.gitignore
  src/user-service/README.md
  src/user-service/api/rpc/server.go
  src/user-service/config/service_config.go
  src/user-service/go.mod
  src/user-service/go.sum
  src/user-service/main.go
Labels: user-service

#168 Feature/user database
  README.md
  docker-compose.dev.native.yml
  go.work.sum
  lib/config/database/rqlite_config.go
  src/user-service/go.mod
  src/user-service/go.sum
  src/user-service/main.go
  src/user-service/user/default_controller.go
  src/user-service/user/demo_repository.go
  src/user-service/user/demo_repository_test.go
  src/user-service/user/model/user.go
  src/user-service/user/repository.go
  src/user-service/user/rqlite_repository.go
  src/user-service/user/rqlite_repository_integration_test.go
  src/user-service/user/rqlite_repository_test.go
Labels: user-service

#175 build(lib): fix test workflow
  .github/workflows/run-tests-lib-folder.yml
  lib/router/go.mod
Labels: build

#177 Feature/product rqlite repo
  README.md
  lib/rpc/product/product.pb.go
  lib/rpc/product/product.proto
  src/product-service/api/rpc/server_test.go
  src/product-service/main.go
  src/product-service/products/coalescing_controller.go
  src/product-service/products/coalescing_controller_test.go
  src/product-service/products/controller.go
  src/product-service/products/default_controller.go
  src/product-service/products/default_controller_test.go
  src/product-service/products/demo_repository.go
  src/product-service/products/demo_repository_example.go
  src/product-service/products/demo_repository_test.go
  src/product-service/products/model/product.go
  src/product-service/products/repository.go
  src/product-service/products/rqlite_repository.go
  src/product-service/products/rqlite_repository_integration_test.go
  src/product-service/products/rqlite_repository_test.go
  src/product-service/products/utils/ean.go
  src/product-service/products/utils/ean_test.go
  src/user-service/user/rqlite_repository.go
  src/user-service/user/rqlite_repository_integration_test.go
  src/user-service/user/rqlite_repository_test.go
Labels: test, user-service, build

#179 Feature/price rqlite repo
  src/product-service/prices/coalescing_controller.go
  src/product-service/prices/default_controller.go
  src/product-service/prices/default_controller_test.go
  src/product-service/prices/demo_repository.go
  src/product-service/prices/model/price.go
  src/product-service/prices/repository.go
  src/product-service/prices/rqlite_repository.go
  src/product-service/prices/rqlite_repository_integration_test.go
  src/product-service/prices/rqlite_repository_test.go
  src/product-service/products/rqlite_repository.go
  src/product-service/products/rqlite_repository_integration_test.go
  src/product-service/products/rqlite_repository_test.go
  src/user-service/user/rqlite_repository.go
  src/user-service/user/rqlite_repository_integration_test.go
  src/user-service/user/rqlite_repository_test.go
Labels: test, user-service, product-service, database

#180 Feature/shoppinglist rqlite repo
  README.md
  src/product-service/prices/rqlite_repository_integration_test.go
  src/product-service/prices/rqlite_repository_test.go
  src/product-service/products/rqlite_repository_integration_test.go
  src/product-service/products/rqlite_repository_test.go
  src/shoppinglist-service/userShoppingList/default_controller.go
  src/shoppinglist-service/userShoppingList/default_controller_test.go
  src/shoppinglist-service/userShoppingList/demo_repository_test.go
  src/shoppinglist-service/userShoppingList/model/userShoppingList.go
  src/shoppinglist-service/userShoppingList/repository.go
  src/shoppinglist-service/userShoppingList/rqlite_repository.go
  src/shoppinglist-service/userShoppingList/rqlite_repository_integration_test.go
  src/shoppinglist-service/userShoppingList/rqlite_repository_test.go
  src/user-service/user/rqlite_repository_integration_test.go
Labels: test, shoppinglist-service, database

#181 Feature/shoppinglistentry rqlite repo
  README.md
  src/product-service/prices/rqlite_repository_integration_test.go
  src/shoppinglist-service/userShoppingList/rqlite_repository.go
  src/shoppinglist-service/userShoppingListEntry/demo_repository_test.go
  src/shoppinglist-service/userShoppingListEntry/model/userShoppingListEntry.go
  src/shoppinglist-service/userShoppingListEntry/repository.go
  src/shoppinglist-service/userShoppingListEntry/rqlite_repository.go
  src/shoppinglist-service/userShoppingListEntry/rqlite_repository_integration_test.go
  src/shoppinglist-service/userShoppingListEntry/rqlite_repository_test.go
Labels: test, shoppinglist-service, database

#187 Feature/update docker dev
  .github/workflows/docker-push-registry.yml
  README.md
  docker-compose.dev.native.yml
  docker-compose.dev.yml
  docker-compose.native.yml
  docker-compose.push.yml
  docker-compose.yml
  src/http-proxy-service/Dockerfile
  src/http-proxy-service/config/proxyConfig.docker.native.yaml
  src/http-proxy-service/config/proxyConfig.docker.yaml
  src/http-proxy-service/config/proxyConfig.yaml
  src/product-service/Dockerfile
  src/product-service/main.go
  src/product-service/prices/rqlite_repository.go
  src/product-service/prices/rqlite_repository_integration_test.go
  src/product-service/products/rqlite_repository.go
  src/product-service/products/rqlite_repository_integration_test.go
  src/shoppinglist-service/Dockerfile
  src/shoppinglist-service/main.go
  src/shoppinglist-service/userShoppingList/rqlite_repository.go
  src/shoppinglist-service/userShoppingList/rqlite_repository_integration_test.go
  src/shoppinglist-service/userShoppingListEntry/rqlite_repository.go
  src/shoppinglist-service/userShoppingListEntry/rqlite_repository_integration_test.go
  src/user-service/Dockerfile
  src/user-service/auth/jwt_config.go
  src/user-service/main.go
  src/user-service/user/rqlite_repository.go
  src/user-service/user/rqlite_repository_integration_test.go
  src/web-service/Dockerfile
  src/web-service/main.go
Labels: user-service, web-service, product-service, shoppinglist-service, http-proxy-service, build, deploy

#189 build: update example envs and prod build
  .gitignore
  docker-compose.yml
  src/product-service/.env.example
  src/shoppinglist-service/.env.example
  src/user-service/.env.example
Labels: deploy

#190 Writing tests for load balancer
  README.md
  src/load-balancer-service/balancer/balancer_test.go
  src/load-balancer-service/balancer/endpoint/endpoint.go
  src/load-balancer-service/balancer/scheduler/least_connections_test.go
  src/load-balancer-service/balancer/scheduler/least_response_time_test.go
  src/load-balancer-service/balancer/scheduler/round_robin_test.go
Labels: test

#194 Feature/refactor kubernetes
  kubernetes/grafana/dashboard-config.json
  kubernetes/kubernetes-cluster/.gitignore
  kubernetes/kubernetes-cluster/Vagrantfile
  kubernetes/kubernetes-cluster/ansible_playbooks/.DS_Store
  kubernetes/kubernetes-cluster/ansible_playbooks/ansible.cfg
  kubernetes/kubernetes-cluster/ansible_playbooks/inventory/group_vars/master.yaml
  kubernetes/kubernetes-cluster/ansible_playbooks/inventory/group_vars/worker.yaml
  kubernetes/kubernetes-cluster/ansible_playbooks/inventory/hosts.yaml
  kubernetes/kubernetes-cluster/ansible_playbooks/roles/cluster-setup/files/weave-net.yaml.j2
  kubernetes/kubernetes-cluster/ansible_playbooks/roles/cluster-setup/tasks/main.yaml
  kubernetes/kubernetes-cluster/ansible_playbooks/roles/commons/tasks/main.yaml
  kubernetes/kubernetes-cluster/ansible_playbooks/roles/configure-kernel/tasks/main.yaml
  kubernetes/kubernetes-cluster/ansible_playbooks/roles/containerd/tasks/main.yaml
  kubernetes/kubernetes-cluster/ansible_playbooks/roles/worker-setup/tasks/main.yaml
  kubernetes/kubernetes-cluster/ansible_playbooks/setup.yaml
  kubernetes/kubernetes-cluster/ubuntu/update-dns.sh
  kubernetes/kubernetes-cluster/ubuntu/vagrant/install-guest-additions.sh
  kubernetes/kubernetes-cluster/ubuntu/vagrant/setup-hosts.sh
  kubernetes/manifests/monitoring/_namespace.yaml
  kubernetes/manifests/monitoring/grafana/datasource.yaml
  kubernetes/manifests/monitoring/grafana/deployment.yaml
  kubernetes/manifests/monitoring/grafana/service.yaml
  kubernetes/manifests/monitoring/kube-state-metrics/cluster-role-binding.yaml
  kubernetes/manifests/monitoring/kube-state-metrics/cluster-role.yaml
  kubernetes/manifests/monitoring/kube-state-metrics/deployment.yaml
  kubernetes/manifests/monitoring/kube-state-metrics/service-account.yaml
  kubernetes/manifests/monitoring/kube-state-metrics/service.yaml
  kubernetes/manifests/monitoring/prometheus/cluster-role.yaml
  kubernetes/manifests/monitoring/prometheus/config-map.yaml
  kubernetes/manifests/monitoring/prometheus/deployment.yaml
  kubernetes/manifests/monitoring/prometheus/node-exporter-daemonset.yaml
  kubernetes/manifests/monitoring/prometheus/node-exporter-service.yaml
  kubernetes/manifests/monitoring/prometheus/service.yaml
  kubernetes/manifests/price-whisper/_namespace.yaml
  kubernetes/manifests/price-whisper/database.yaml
  kubernetes/manifests/price-whisper/products.yaml
  kubernetes/manifests/price-whisper/proxy.yaml
  kubernetes/manifests/price-whisper/shoppinglists.yaml
  kubernetes/manifests/price-whisper/users.yaml
  kubernetes/manifests/price-whisper/web.yaml
  scripts/kubernetes-cluster/manifests/price-whisper/products.deployment.yaml
  scripts/kubernetes-cluster/manifests/price-whisper/products.service.yaml
  scripts/kubernetes-cluster/manifests/price-whisper/proxy.deployment.yaml
  scripts/kubernetes-cluster/manifests/price-whisper/proxy.service.yaml
  scripts/kubernetes-cluster/manifests/price-whisper/shoppinglists.deployment.yaml
  scripts/kubernetes-cluster/manifests/price-whisper/shoppinglists.service.yaml
  scripts/kubernetes-cluster/manifests/price-whisper/users.deployment.yaml
  scripts/kubernetes-cluster/manifests/price-whisper/users.service.yaml
  scripts/kubernetes-cluster/manifests/price-whisper/web.deployment.yaml
  scripts/kubernetes-cluster/manifests/price-whisper/web.service.yaml
  src/shoppinglist-service/.env.example
  src/user-service/main.go
Labels: cleanup, deploy

#198 Feature/db test init
  README.md
  docker-compose.dev.yml
  docker-compose.push.yml
  docker-compose.yml
  src/product-service/main.go
  src/shoppinglist-service/main.go
  src/user-service/main.go
  utils/rqlite-db-init-test/.env.example
  utils/rqlite-db-init-test/.gitignore
  utils/rqlite-db-init-test/Dockerfile
  utils/rqlite-db-init-test/check_and_insert.sh
  utils/rqlite-db-init-test/init.sql
Labels: database

#200 feat(kubernetes): add rqlite test data to kubernetes deployment
  kubernetes/manifests/price-whisper/test-data.yaml
Labels: deploy

#201 Feature/fix integration tests
  src/product-service/prices/rqlite_repository_integration_test.go
  src/product-service/products/rqlite_repository_integration_test.go
  src/shoppinglist-service/userShoppingList/rqlite_repository_integration_test.go
  src/shoppinglist-service/userShoppingListEntry/rqlite_repository_integration_test.go
  src/user-service/user/rqlite_repository_integration_test.go
Labels: test

#202 Feature/update http stress test
  utils/http-stress-test/README.md
  utils/http-stress-test/config.example.json
  utils/http-stress-test/config.example.yaml
  utils/http-stress-test/config.yaml
  utils/http-stress-test/config/configurator.go
  utils/http-stress-test/main.go
  utils/http-stress-test/metrics/metrics.go
  utils/http-stress-test/network/fastclient.go
  utils/http-stress-test/tester/tester.go
Labels: test

#203 Feature/readme
  .github/workflows/run-tests-load-balancer-service.yml
  README.assets/CE_Architecture_Prototype.svg
  README.md
  src/http-proxy-service/README.md
  src/load-balancer-service/README.md
  src/load-balancer-service/config/config.web-service.dev.yaml
  src/load-balancer-service/config/config.web-service.yaml
  src/load-balancer-service/config/config.yaml
  src/load-balancer-service/main.go
  src/load-balancer-service/utils/configurator.go
  src/product-service/README.md
  src/shoppinglist-service/README.md
  src/user-service/README.md
  src/web-service/README.md
  utils/rqlite-db-init-test/README.md
Labels: documentation

#204 Feature/readme changes
  .github/workflows/create coverage badge.yml
  .github/workflows/run-tests-http-proxy-service.yml
  .github/workflows/run-tests-lib-folder.yml
  .github/workflows/run-tests-load-balancer-service.yml
  .github/workflows/run-tests-product-service.yml
  .github/workflows/run-tests-shoppinglist-service.yml
  .github/workflows/run-tests-user-service.yml
  .github/workflows/run-tests-web-service.yml
  .mockery.yaml
  README.md
  kubernetes/kubernetes-cluster/README.md
  kubernetes/manifests/price-whisper/database.yaml
  kubernetes/manifests/price-whisper/products.yaml
  kubernetes/manifests/price-whisper/shoppinglists.yaml
  kubernetes/manifests/price-whisper/test-data.yaml
  kubernetes/manifests/price-whisper/users.yaml
  src/http-proxy-service/proxy/default_manager_test.go
  src/product-service/api/rpc/server_test.go
  src/product-service/prices/default_controller.go
  src/product-service/prices/default_controller_test.go
  src/product-service/prices/demo_repository.go
  src/product-service/prices/demo_repository_example.go
  src/product-service/prices/demo_repository_test.go
  src/product-service/products/default_controller.go
  src/product-service/products/default_controller_test.go
  src/product-service/products/demo_repository.go
  src/product-service/products/demo_repository_example.go
  src/product-service/products/demo_repository_test.go
  src/shoppinglist-service/api/router/router.go
  src/shoppinglist-service/userShoppingList/demo_repository.go
  src/shoppinglist-service/userShoppingList/demo_repository_test.go
  src/shoppinglist-service/userShoppingListEntry/demo_repository.go
  src/shoppinglist-service/userShoppingListEntry/demo_repository_test.go
  src/user-service/api/http/handler/login_test.go
  src/user-service/api/http/handler/register_test.go
  src/user-service/api/http/middleware/auth_test.go
  src/user-service/api/rpc/server_test.go
  src/user-service/auth/_mock/mock_TokenGenerator.go
  src/user-service/crypto/_mock/mock_Hasher.go
  src/user-service/crypto/bcrypt_test.go
  src/user-service/user/demo_repository.go
  src/user-service/user/demo_repository_test.go
  utils/http-stress-test/config.yaml
  utils/http-stress-test/metrics/metrics.go
  utils/http-stress-test/network/tcpclient.go
  utils/http-stress-test/tester/tester.go
Labels: documentation

#205 Feature/update readme
  README.assets/CE_Architecture_Prototype.svg
  README.assets/frontend_shopping_list.png
  README.md
  kubernetes/kubernetes-cluster/README.md
Labels: documentation
